{% extends 'base.html' %}
{% block contents %}

<h4 class="mt-5 mb-4 border-bottom"></h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <!--<p>{{result_sample1}}</p> -->
      <p>{{result_sample2}}</p>
    </div>
  </div>
</div>

{% endblock %}