{% extends 'base.html' %}
{% block contents %}

<h4 class="mt-5 mb-4 border-bottom">いまどんなきもち？</h4>
<form  action="{% url 'app_folder:top_page' %}" method="post">
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <input class="form-control" type="text" name="input_data" maxlength="255">
    </div>
    <div class="col-2">
      <div class="text-left align-bottom">
          <button type="submit" name="button" class="btn btn-info">
                きいて～
          </button>
      </div>
    </div>
    <p>今はどんな気持ち？</p>
    <p>1:お仕事つらい</p>
  </div>
</div>
{% csrf_token %}
</form>

{% endblock %}