{\rtf1}{% extends 'base.html' %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">TOPPAGE</h1>
</div>

<div>
    <h4>言葉をいれてね</h4>
</div>

{% endblock %}